{% extends "layout.html" %}
{% block pageTitle %}
Enter a new employee
{% endblock %}
{% block content %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "Alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="/feedback">feedback</a> will help us to improve it.'
}) }}
<br>
<h1 class="govuk-heading-xl">
    Add Employee - Name
  </h1>
  {{releaseVersion | log }}

  <p>
    This service lets you add an employee to the database.
  </p>
<br>

{% if errormessage %}
<div class="govuk-error-message">{{ errormessage }}</div>
{% endif %}

<form class="form" action="/addemployee-financial" method="post">

    {% from "govuk/components/input/macro.njk" import govukInput %}
    {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
    {% from "govuk/components/input/macro.njk" import govukInput %}

  
    {{ govukInput({
      label: {
      text: "What is your forename?"
      },
      classes: "govuk-input--width-10",
      hint: {
        text: "Enter forename here e.g. "Sarah"
        },
      id: "forename",
      name: "forename",
      value: data["forename"]
      }) }}

    {{ govukInsetText({
        text: "Ensure this is only forename"
        }) }}
    
    {% from "govuk/components/input/macro.njk" import govukInput %}

    {{ govukInput({
      label: {
      text: "What is your surname?",
      classes: "govuk-label--l",
      isPageHeading: true
      },
      classes: "govuk-input--width-10",
      hint: {
      text: "Enter surname here e.g. "Smith"
      },
      id: "surname",
      name: "surname",
      inputmode: "surname",
      spellcheck: false
      }) }}

      {{ govukInsetText({
        text: "Ensure this is only surname"
        }) }}

    <button class="govuk-button" data-module="govuk-button">Continue</button>

</form>


{% endblock %}