{% extends "layout.html" %}
{% block pageTitle %}
Enter a new employee
{% endblock %}
{% block content %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

    {{ govukBreadcrumbs({
        items: [
            {
            text: "Home",
            href: "/start"
            },
            {
            text: "Back",
            href: "/start"
            }
        ]
    }) }}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
<br>
<h1 class="govuk-heading-xl">
    Add Employee 
  </h1>
  {{releaseVersion | log }}

  <p>
    This service lets you add an employee to the database.
  </p>
<br>

{% if errormessage %}
<div class="govuk-error-message">{{ errormessage }}</div>
{% endif %}

<form class="form" action="/add-employee-type" method="post">
  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    name: "empType",
    fieldset: {
      legend: {
        text: "What type of employee would you like to add?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "Delivery",
        text: "Delivery"
      },
      {
        value: "Sales",
        text: "Sales"
      },
      {
        value: "Standard",
        text: "Standard"
      }
    ]
  }) }}

    <button class="govuk-button" data-module="govuk-button">Continue</button>

</form>


{% endblock %}