{% extends "layout.html" %}
{% block pageTitle %}
List of Projects
{% endblock %}
{% block content %}

  <br>
<h1 class="govuk-heading-xl">
  All Projects
  <span class="govuk-caption-xl"></span>
</h1>
<p>
  This lets you view all the projects, and all information stored of them.
</p>

{% if projects and projects.length > 0 %}
{% set projectRows = [] %}
{% for project in projects %}
{% set projectRows = (projectRows.push([ { text: project.projectId }, { text: project.projectName  }, { text: project.projectDescription } ]), projectRows) %}
{% endfor %}
{{govukTable({
caption:"List of Projects",
head: [ { text: "ID" },{ text: "Name" },{ text: "Description" }],
rows: projectRows })
}}
{% else %}
There are no projects.
{% endif %}

{% from "govuk/components/button/macro.njk" import govukButton %}

<ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="index.html">Return back</a>
    </li>
  </ul>
{% endblock %}