{% extends "layout.html" %}
{% block pageTitle %}
List of Employees
{% endblock %}
{% block content %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

    {{ govukBreadcrumbs({
        items: [
            {
            text: "Home",
            href: "/start"
            },
            {
            text: "Back",
            href: "/start"
            }
        ]
    }) }}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
<h1 class="govuk-heading-xl">
  All Employees
  <span class="govuk-caption-xl"></span>
</h1>
<p>
  This lets you view all the employees, and all information stored of them.
</p>

{% if employees and employees.length > 0 %}
{% set employeeRows = [] %}
{% for employee in employees %}
{% set employeeRows = (employeeRows.push([ { text: employee.employeeId }, { text: employee.first_name  }, { text: employee.last_name },
{ text: employee.address }, { text: employee.postcode }, { text: employee.nin  }, { text: employee.bankNo }, 
{text: employee.startSalary }, {text: employee.departmentId } ]), employeeRows) %}
{% endfor %}
{{govukTable({
caption:"List of Employees",
head: [ { text: "ID" },{ text: "First Name" },{ text: "Surname" },
{ text: "Address" },{ text: "Postcode" }, { text: "National Insurance Number"}, 
{text: "Bank Number"} , {text: "Salary"} , {text: "Department Id"}],
rows: employeeRows })
}}
{% else %}
There are no Employees.
{% endif %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% endblock %}