{% extends "layout.html" %}
{% block pageTitle %}
List of Projects
{% endblock %}
{% block content %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

    {{ govukBreadcrumbs({
        items: [
            {
            text: "Home",
            href: "/start"
            },
            {
            text: "Back",
            href: "/start"
            }
        ]
    }) }}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  <br>
<h1 class="govuk-heading-xl">
  All Projects
  <span class="govuk-caption-xl"></span>
</h1>
<p>
  This lets you view all the projects, and all information stored of them.
</p>

{% if projects and projects.length > 0 %}
{% set projectRows = [] %}
{% for project in projects %}
{% set projectRows = (projectRows.push([ { text: project.projectId }, { text: project.projectName  }, { text: project.projectDescription } ]), projectRows) %}
{% endfor %}
{{govukTable({
caption:"List of Projects",
head: [ { text: "ID" },{ text: "Name" },{ text: "Description" }],
rows: projectRows })
}}
{% else %}
There are no projects.
{% endif %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% endblock %}