{% extends "layout.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

  {{ govukHeader() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
        {% if serviceName %}{{ serviceName }} {% endif %}
        </h1>

        <p>Use this service to:</p>

        <ul class="govuk-list govuk-list--bullet">
            {% from "govuk/components/details/macro.njk" import govukDetails %}

            {{ govukDetails({
                summaryText: "Add Employees",
                text: "Adding new employees is as simple as inputting key details e.g. names, addresses and financial details."
            }) }}

            {{ govukDetails({
                summaryText: "Add Sales or Delivery Employees",
                text: "Click add a new employee, then choose from our menu which type of employee you want to add!"
            }) }}

            <a href="/add-employee-type" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-0 govuk-!-margin-bottom-4"  data-module="govuk-button">
                Create new Employee
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                    </svg>
            </a>

            {{ govukDetails({
                summaryText: "Generate reports",
                text: "View reports of departments, projects, employees and more..."
            }) }}

            <a href="/get-employees" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-0 govuk-!-margin-bottom-3"  data-module="govuk-button">
                Display Employees
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                        </svg>
            </a>
  <br>
            <a href="/get-all-projects" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-0 govuk-!-margin-bottom-3"  data-module="govuk-button">
                View Projects
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                        </svg>
            </a>
            
            {{ govukDetails({
                summaryText: "Create Project",
                text: "Add new projects with ease by clicking the button below..."
            }) }}

            <a href="/addproject" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-0 govuk-!-margin-bottom-3"  data-module="govuk-button">
                Create Project
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                        </svg>
            </a>

            {{ govukDetails({
                summaryText: "Create Department",
                text: "[add info on process here]"
            }) }}

            <a href="/adddepartment" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-0 govuk-!-margin-bottom-3"  data-module="govuk-button">
                Create Project
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                        </svg>
            </a>

            {{ govukDetails({
                summaryText: "View Departments",
                text: "[add info on process here]"
            }) }}

            <a href="/get-all-departments" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-0 govuk-!-margin-bottom-3"  data-module="govuk-button">
                View Projects
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                        </svg>
            </a>
            
            {{ govukDetails({
                summaryText: "View Sales Employees",
                text: "This is where you can view sales employees"
            }) }}

            <a href="/list-sales-employee" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-0 govuk-!-margin-bottom-3"  data-module="govuk-button">
                View Sales Employee
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                        </svg>
            </a>
        </ul>
        </ul>

        
 </div>

    <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
            Subsection
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-20">
                <li>
                    Thank you for choosing to use the Callback-Cats official UI,        
                </li>
                <br>
                <li>
                    We here at Callback-Cats inc. appreciate your support!
                </li>
            </ul>
            </nav>
        </aside>

    </div>
</div>
{% endblock %}
